#top {z-index: 9999; position: fixed;
    z-index: 1;}
    
#content {
    position: fixed;
    top: 160px;
}

#section_title img{top: -30px!important;}

#menu-controller{top: 0px; position: fixed; z-index: 99999; overflow: visible!important;}
    
#content .movie-list {
    height:100%!important;
    margin: 0px!important;
    padding: 0px!important;
    overflow: hidden!important;
    top: -160px!important;
    position: absolute;
    background-repeat: repeat-x!important;
    background-size: contain;
    background-image: -webkit-linear-gradient(top, #000 10%, transparent 200px); /* Chrome10+,Safari5.1+ */
    background-image:    -moz-linear-gradient(top, #000 10%, transparent 200px); /* FF3.6+ */
    background-image:         linear-gradient(top, #000 10%, transparent 200px); /* W3C */ 
}

#content .movie-list ul {
    padding: 0px; margin: 0px;padding-left: 9rem;margin-top: 150px;
 }
#content .movie-list ul li{z-index: -100;}

#content .movie-list ul li .poster img {
    max-width: 100%;
}

/*<link rel="stylesheet" href="css/movies.css"/>*/